.role-assignmentPanel {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;

  &__checkboxes {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
