.stops-importPanel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}
