.sidebar {
  display: grid;
  grid-template-areas: 'navigation' 'details' 'approve';
  grid-template-rows: auto 1fr 5rem;
  grid-template-columns: 100%;
  height: calc(100vh - 5rem);
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &__image {
    position: absolute;
    top: 3rem;
    opacity: 0.15;
    z-index: -3;
  }

  &__navigation {
    grid-area: navigation;
    margin-bottom: 10px;
  }

  &__details {
    grid-area: details;
    overflow: auto;
    scroll-behavior: smooth;
  }

  &__approve {
    grid-area: approve;
    align-self: center;
    justify-self: center;
  }
}
