@import 'config/colors.module';
@import 'config/authMixins';

.auth-image-container {
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translate(-50%);
  z-index: 1;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

.auth {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-height: 1500px;
    transition: 0.2s;
    min-height: 380px;
  }
  &__logos {
    z-index: 0;
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    bottom: 200px;
    @media screen and (max-height: 900px) {
      bottom: 100px;
    }
    @media screen and (max-height: 750px) {
      bottom: 60px;
      // width: 30%;
    }
    img {
      width: 100%;
      max-width: 120px;
    }
    svg {
      width: 100%;
    }
    &--rdn {
      margin-right: 2rem;
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &__dots {
    height: 100%;
    position: absolute;
    top: 0;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }
  &__image--left {
    position: absolute;
    z-index: -1;
    left: -169px;
    height: 100%;
  }
  &__image--right {
    position: absolute;
    z-index: -1;
    right: -169px;
    height: 100%;
  }

  &__form-area {
    display: flex;
    flex: 2;
    margin-top: 80px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    z-index: 1;
  }

  &__form-box {
    background: #fcfcfc 0% 0% no-repeat padding-box;
    border: 2px solid #d8e0e3;
    border-radius: 45px;
    width: 350px;
    padding: 20px 20px 30px;
    position: relative;
  }
}

.auth-area {
  @include auth-area;

  &__version {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.form-div {
  @include form-div;
  @include font-type;
}

@media screen and (orientation: landscape) {
  .form-div {
    width: 25vw;
    border-radius: 20px;
  }
}

.auth-title {
  @include auth-title;
}

.auth-info-placeholder {
  // height: 50px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  font-size: 12px;
}
.auth-message {
  // display: none;
  padding: 30px 0 30px;
  font-size: 14px;
  color: $color-message-success;
}

.centered {
  display: flex;
  justify-content: center;
}
