.panel-link {
  padding: 10px;
}

.panel-utils {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 700;
}

.panel-link__buttons {
  display: flex;
  width: 100%;
  button {
    width: 50%;
  }
}
