@import 'config/colors.module';
@import 'config/authMixins';

.auth-area {
  @include auth-area;

  &__version {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.form-div {
  @include form-div;
  @include font-type;
}

@media screen and (orientation: landscape) {
  .form-div {
    width: 25vw;
    border-radius: 20px;
  }
}

.auth-title {
  @include auth-title;
}

.auth-info-placeholder {
  height: 50px;
}

.centered {
  display: flex;
  justify-content: center;
}

.inputbox-spacer {
  border-bottom: 1px solid $color-internal-border;
  padding: 10px;
}
