.connection-prompt__label {
  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  background-color: #e1e6ea;
}

.connection-prompt__wrapper {
  border: solid 1px black;
  padding: 10px 5px 5px;
  border-radius: 5px;
}

.connection-prompt__button-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

