.connection-visibility-panel__container {
    // position: absolute;
    // top: 30px;
    // left: 60px;
    // z-index: 3;
    margin: 0;
    padding: 0;
}



.connection-visibility-panel__toggle-group {
    // // position: absolute;
    // // top: 30px;
    // // left: 60px;
    // // z-index: 3;
    // margin: 0;
    // padding: 0;
    background-color: white;
}