.sidebar {
  &__container {
      height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__features {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: hidden;
  }
}
