.header {
  &__main {
    display: 'flex';
    flex-direction: 'row';
  }
  &__logo {
    background-color: #191c1f;
    border-right: 1px solid #131517;
    height: 47px;
    width: 200px;
    width: calc(1px * 100% / 6);
  }
  &__logo-link {
    background-color: palegreen;
    width: 100px;
  }
  &__navigation-container {
      
    display: 'flex';
    justify-content: 'flex-end';
    align-items: 'baseline';
    height: 47px;
  }
  &__navigation-button {
    padding: 5px;
  }
}
