.finish-tile {
  &__buttons {
    display: flex;
    justify-content: center;
  }
  &__decision-button {
    margin: 0 1rem 0.5rem !important;
  }
  &__confirmation-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }

  &__main-button {
    margin-bottom: 15px;
  }
}
