@import 'config/colors.module';

.footer {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 25% 50% 25%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &-link {
    color: $color-blue-link;
    text-decoration: underline;
  }
  
  &__left {
    grid-area: left;
  }

  &__center {
    grid-area: center;
    justify-self: center;
  }

  &__right {
    grid-area: right;
    justify-self: right;
  }
}