@import 'config/colors.module';
@import 'config/authMixins';

#loginEmail,
#loginPassword {
  @include input-textbox;
  @include font-type;
  @include font-size;
}

.login-button-area {
  @include auth-button-area;
}

#button-login {
  @include auth-button;
  @include font-type;
  @include font-size;
}

.link {
  padding: 0.625rem;
  text-align: center;
  font-style: italic;
}

a {
  text-decoration: none;
  color: $color-link-default;
}

a:hover {
  color: $color-link-hover;
  text-decoration-line: underline;
}

.login-link {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.825rem;
  text-align: center;
}
