@import 'config/colors.module';

.management-panel {
  color: $color-link-default;
}

.management-panel__button {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.management-panel__button--40p {
  width: 40%;
}

.management-panel__button--30p {
  width: 30%;
}

.management-panel__scrollable-area {
  width: 100%;
  max-height: 500px;
  overflow-x: hidden;
}

.tile-assignment {
  display: grid;
  grid-template-areas: "header" "tile-dropdown" "user-dropdown" "button";

  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;

  &--dropdown {
    width: 100%;
  }

  &__header {
    grid-row: header;
    grid-column: header;
  }

  &__tile-dropdown {
    grid-row: tile-dropdown;
    grid-column: tile-dropdown;
  }

  &__user-dropdown {
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-row: user-dropdown;
    grid-column: user-dropdown;
    width: 100%;
  }

  &__button {
    grid-row: button;
    grid-column: button;
  }
}





