@import 'config/colors.module';

.management-panel {
  display: flex;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  &__head {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 17rem;
  }

  &__map {
    margin-left: 0.5rem;
    width: 100%;
  }
}

.tile-assignment {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  
  &__user-dropdown {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &--loader {
      margin-top: 1rem;
    }
  }
}





