.map-manager {
  display: grid;
  grid-template-areas: 'sidebar map';
  grid-template-columns: minmax(280px, 340px) auto;

  &__sidebar {
    grid-area: sidebar;
  }

  &__map {
    grid-area: map;
  }
}
