.report {
  height: 100%;
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
