@import 'config/colors.module';
@import 'config/authMixins';


#loginEmail, #loginPassword {
  @include input-textbox;
  @include font-type;
  @include font-size;
}

.login-button-area {
  @include auth-button-area;
}

#button-login {
  @include auth-button;
  @include font-type;
  @include font-size;
}

.link {
padding: 10px;
  text-align: center;
  font-style: italic;
}

a {
  text-decoration: none;
  color: $color-link-default;
}

a:hover {
  color: $color-link-hover;
  text-decoration-line: underline;

}

.register__utils{
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 700;
}

.register__button{
  margin-top: 20px;
}
.register__spacer{
  height: 30px;
}
.register__regulations{
  font-size: 0.75rem;
  text-align: justify;
}
.register__regulations-container{
  display: flex;
  flex-direction: row;
}
.register__regulations-checkbox{
  display:inline-flex;
}

.register {
  display: grid;
  grid-template-areas: "logo" "content" "bottom";
  grid-template-columns: 1fr;

  &__logo {
    grid-area: logo;
    margin-bottom: 1rem;
  }

  &__content {
    grid-area: content;
  }

  &__bottom {
    grid-area: bottom;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;

  &__text-field {
    height: 4.5rem;
  }
}

