@import 'config/colors.module';
@import 'config/authMixins';

.agreement-link {
  color: $color-blue-link;
  font-weight: bold;
  text-decoration-color: $color-blue-link;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 1.5px;
}

#loginEmail,
#loginPassword {
  @include input-textbox;
  @include font-type;
  @include font-size;
}

.login-button-area {
  @include auth-button-area;
}

#button-login {
  @include auth-button;
  @include font-type;
  @include font-size;
}

a {
  text-decoration: none;
  color: $color-link-default;
}

a:hover {
  color: $color-link-hover;
  text-decoration-line: underline;
}

.register__button {
  margin-top: 1.25rem;
}
.register__spacer {
  height: 1.875rem;
}
.register__regulations {
  font-size: 0.75rem;
  text-align: justify;
}
.register__regulations-container {
  display: flex;
  flex-direction: row;
}
.register__regulations-checkbox {
  display: inline-flex;
}

.register {
  display: grid;
  grid-template-areas: 'logo' 'content' 'bottom';
  grid-template-columns: 1fr;

  &__logo {
    grid-area: logo;
    margin-bottom: 1rem;
  }
  &__title {
    color: #0d6efd;
    font-size: 1.25rem;
  }

  &__content {
    grid-area: content;
  }

  &__bottom {
    grid-area: bottom;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;

  &__text-field {
    height: 3.5rem;
  }
}
