.sidebar-connection-handler {
    &__top {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      fieldset {
        border: 3px solid #1976d2;
        border-radius: 5px;
        margin-bottom: 0.625rem;
        width: 100%;
        legend {
          float: none;
          font-size: 0.75rem;
          width: auto;
          padding: 0 0.625rem;
          svg {
            margin: 0 0.25rem;
          }
        }
      }
    }
    .buttons {
        display: flex;
        flex-direction: row;
        width: 100;
    }
  }
  