.welcome-modal {
  &__title {
    margin-bottom: 1rem;
  }

  &__content {
    white-space: pre-line;
  }
  &__manual {
    text-decoration: none;
    margin-right: 1rem;
    &:hover {
      text-decoration: none;
    }
  }
  &__form {
    margin-top: 1.25rem;
  }
}
