$color-login-form-background: silver;
$color-link-default: black;
$color-link-hover: maroon;
$color-internal-border: #e6e6e6;
$color-message-success: #134a1e;
$color-message-fail: maroon;


:export {
    colorMessageFail: $color-message-fail;
    colorMessageSuccess: $color-message-success;
}