@import './colors';

@mixin font-type {
  font-family: Ubuntu, Helvetica, sans-serif;
}

@mixin font-size {
  font-size: 20px;
}

.login-area {
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  display: grid;
  place-items: center;
}

.form-div {
  width: 100%;
  height: 100%;
  background-color: $color-login-form-background;
  margin: auto auto;
  @include font-type;
}

#title-login {
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.field-area {
  border-bottom: 1px solid $color-internal-border;
  padding: 10px;
}

#username-input, #password-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  @include font-type;
  @include font-size;

}

.login-button-area {
  padding: 10px;
  margin: auto;
}

#button-login {
  padding: 10px;
  width: 100%;
  font-weight: bold;
  @include font-type;
  @include font-size;
}


.info-placeholder {
  height: 50px;
}


.link {
padding: 10px;
  text-align: center;
  font-style: italic;
}

a {
  text-decoration: none;
  color: $color-link-default;

}

a:hover {
  text-decoration: none;
  color: $color-link-hover;
  text-decoration-line: underline;

}

@media screen and (orientation: landscape) {
  .form-div {
    width: 400px;
    height: 500px;
    border-radius: 20px;
  }
}


