.customInlineButton {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 15px;
}

//.leaflet-container {
//  position: relative;
//  height: calc(100vh - 350px);
//}
.mapprompt {
  background-color: red;
}

.scrollable-dropdown {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}