$color-login-form-background: silver;
$color-link-default: black;
$color-link-hover: maroon;
$color-internal-border: #e6e6e6;
$color-loader-background: black;

$color-message-success: #134a1e;
$color-message-fail: rgb(255, 0, 0);
$color-tile-all: black;
$color-approved-by-editor: crimson;
$color-approved-by-supervisor: green;
$color-tile-active: olivedrab;
$color-tile-active-explicit: purple;
$color-connection-new: red;
$color-connection-imported: yellow;
$color-tile-assigned: aqua;
$color-blue-link: blue;

:export {
    colorMessageFail: $color-message-fail;
    colorMessageSuccess: $color-message-success;
    colorTileAll: $color-tile-all;
    colorApprovedByEditor: $color-approved-by-editor;
    colorApprovedBySupervisor: $color-approved-by-supervisor;
    colorTileActive: $color-tile-active;
    colorTileActiveExplicit: $color-tile-active-explicit;
    colorConnectionNew: $color-connection-new;
    colorConnectionImported: $color-connection-imported;
    colorTileAssigned: $color-tile-assigned;
}
