$color-login-form-background: silver;
$color-link-default: black;
$color-link-hover: maroon;
$color-internal-border: #e6e6e6;

$color-message-success: #134a1e;
$color-message-fail: rgb(255, 0, 0);
$color-tile-all: black;
$color-tile-for-approval: crimson;
$color-tile-active: olivedrab;
$color-tile-active-explicit: purple;
$color-connection-new: red;
$color-connection-imported: yellow;
$color-mouse-over-tile: white;
$color-tile-assigned: aqua;

:export {
    colorMessageFail: $color-message-fail;
    colorMessageSuccess: $color-message-success;
    colorTileAll: $color-tile-all;
    colorTileForApproval: $color-tile-for-approval;
    colorTileActive: $color-tile-active;
    colorTileActiveExplicit: $color-tile-active-explicit;
    colorConnectionNew: $color-connection-new;
    colorConnectionImported: $color-connection-imported;
    colorMouseOverTile: $color-mouse-over-tile;
    colorTileAssigned: $color-tile-assigned;
}
